@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Roboto);

$offwhite:      #ebeef0;
$darkblue:      #022933;
$yellow:        #FFBA00;
$blue:          #0076a3;
$green:         #548c27;
$orange:        #F39856;
$red:           #D14348;
$purple:        #6D73C2;
$gray:          #333333;


$color-main: $gray;
$color-backgrounds: $offwhite;
$color-headlines: $darkblue;

$font-main: 'Source Sans Pro', Helvetica, sans-serif;
$font-highlight: 'Roboto Slab', Helvetica, sans-serif;

